# --- PROTEÇÃO DE PROPRIEDADE INTELECTUAL OPTIMUS ---
# Bloqueia o código-fonte real para não dar munição à concorrência
main.py
core/
utils/
config.ini
instrucoes.txt

# --- SEGURANÇA E CREDENCIAIS ---
.env
*.pem
aws_keys.txt
credentials.json

# --- ARQUIVOS DE SISTEMA E CACHE ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
Scripts/
lib/
.vscode/
bin/

# Configurações do Cliente e Segredos (Segurança de Dados)
config.ini
.env

# Arquivos gerados pelo VS Code ou Sistema Operacional
.vscode/
.idea/
Thumbs.db
.DS_Store

# Pasta de criação do Executável (.exe)
dist/
build/
*.spec